/*
 * Form stuff
 */

@use 'variables' as v;

 .red-text {
  color: red;
 }

 .new-tweet p.error {
  color: v.$error-red;
  border: 3px solid v.$error-red;
  padding: .75em 1em;
  margin-top: 0;
  font-size: .75em;
 }

.new-tweet form {
  display: flex;
  flex-flow: column;
  margin-bottom: 1em;

  div {
    display: flex;
    justify-content: space-between;
    font-family: v.$bungee;
  }  

  label {
    border-bottom: 3px solid #666;
    padding-bottom: 0.5em;
    display: block;
    margin-bottom: 1em;
    font-weight: 600;
  }

  textarea {
    margin-bottom: 1em;
  }

  button {
    color: white;
    background-color: v.$tweeter-blue;
    padding: 0.25em 0.5em;
    border: 0;
    cursor: pointer;
  }
}
