/*
 * Header stuff
 */
@use 'variables' as v;

 header.user {
  width: 100%;
  height: 520px;
  display: flex;
  padding-top: 120px;
  margin-bottom: 1em;
  flex-flow: column;
  align-items: center;
  background-color: v.$tweeter-gold;
  background-image: url('../images/asfalt-dark.png');

  div {
    // box-sizing: unset !important;
   }
 }
 