/*
 * Header stuff
 */
@use 'variables' as v;
@use 'mixins' as m;

 header.user {
  width: 100%;
  padding: 1em;
  @include m.vertical-align;
  margin-bottom: 1em;
  flex-flow: column;
  background-color: v.$tweeter-gold;
  background-image: url('../images/asfalt-dark.png');

  h2 {
    margin: 0;
  }
 }

/*
 * Responsive Media Queries
 */
@media only screen and (min-width: 1024px) {
  header.user {
    width: 50%;
    height: 520px;
    padding-top: 120px;
  }
}