/*
 * Navigation stuff
 */

 @use 'variables' as v;

nav {
  width: 100%;
  height: 120px;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: v.$tweeter-blue;
  color: #FFFFFF;

  span.logo {
    font-family: v.$bungee;
  }

  .cta {    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: v.$source-sans-pro;
    cursor: pointer;

    i {
      color: v.$error-red;
    }
  }
}