/*
 * Tweet Post stuff
 */
@use 'variables' as v;

 .tweets article {
  display: flex;
  flex-flow: column;
  border: 3px solid v.$layout-grey;
  padding: .5em;
  margin-bottom: 1em;

  &:hover {
    box-shadow:  5px 5px 0 v.$light-blue;
  }

  header {
    display: flex;
    justify-content: space-between;

    .username {
      color: #ccc;
      font-weight: 600;
    }

    img {
      margin-right: .5em;
    }

    div {
      display: flex;
      align-items: center;
    }
  }

  p {
    overflow-wrap: anywhere;
    margin-bottom: 1em;
    padding-bottom: .5em;;
    border-bottom: 3px solid v.$layout-grey;
    font-weight: 600;
  }

  footer {
    display: flex;
    justify-content: space-between;

    span {
      font-size: .5em;
    }

    div i {
      margin-left: .5em;
      color: v.$tweeter-blue;

      &:hover {
        margin-left: .5em;
        color: v.$tweeter-gold;
      }
    }
  }
 }
