/*
 * Set sass variables for colors and fonts
 */

$bungee: 'Bungee', cursive;
$source-sans-pro: 'Source Sans Pro', sans-serif;

$tweeter-blue: #4056A1;
$tweeter-gold: goldenrod;
$light-blue: #C7CAE1;

$error-red: red;

$layout-grey: #666;