/*
 * Form stuff
 */

 .red-text {
  color: red;
 }

.new-tweet form {
  display: flex;
  flex-flow: column;
  margin-bottom: 2em;
}

.new-tweet label {
  border-bottom: 3px solid grey;
  padding-bottom: 0.5em;
  display: block;
  margin-bottom: 1em;
  font-weight: 600;
}

.new-tweet textarea {
  margin-bottom: 1em;
}


.new-tweet div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.new-tweet button {
  color: white;
  background-color: #4056A1;
  padding: 0.25em 0.5em;
  border: 0;
}