/*
 * Header stuff
 */

 header {
  width: 100%;
  height: 400px;
  display: flex;
  padding-top: 120px;
  flex-flow: column;
  align-items: center;
  background-color: goldenrod;
  background-image: url('../images/asfalt-dark.png');
 }
 
 header div {
  box-sizing: unset !important;
 }