/*
 * Set sass variables for colors and fonts
 */
/*
 * Useful mixins for tweeter
 */
/*
 * Header stuff
 */
header.user {
  width: 100%;
  padding: 1em;
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  flex-flow: column;
  background-color: goldenrod;
  background-image: url("../images/asfalt-dark.png");
}
header.user h2 {
  margin: 0;
}

/*
 * Responsive Media Queries
 */
@media only screen and (min-width: 1024px) {
  header.user {
    width: 39%;
    height: 400px;
    margin: 120px 2em 0; /* To Do add 1em to 120px */
    padding-top: 1em;
    align-self: self-start;
  }
}
